# Quantumult X Pro V1.4 interactive tools

event-interaction https://raw.githubusercontent.com/justFI/CocoapodsTest/master/scripts/qx-dev-toolbox.js, tag=开发工具箱, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Lab.png, enabled=true

event-interaction https://raw.githubusercontent.com/justFI/CocoapodsTest/master/scripts/qx-mode-switch.js#mode=ai, tag=AI稳定模式, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Bot.png, enabled=true
event-interaction https://raw.githubusercontent.com/justFI/CocoapodsTest/master/scripts/qx-mode-switch.js#mode=dev, tag=开发模式, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/GitHub.png, enabled=true
event-interaction https://raw.githubusercontent.com/justFI/CocoapodsTest/master/scripts/qx-mode-switch.js#mode=download, tag=下载省流量, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Download.png, enabled=true
event-interaction https://raw.githubusercontent.com/justFI/CocoapodsTest/master/scripts/qx-mode-switch.js#mode=streaming, tag=流媒体模式, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Streaming.png, enabled=true
event-interaction https://raw.githubusercontent.com/justFI/CocoapodsTest/master/scripts/qx-mode-switch.js#mode=restore, tag=恢复推荐设置, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Loop.png, enabled=true

event-interaction https://raw.githubusercontent.com/justFI/CocoapodsTest/master/scripts/qx-traffic-panel.js, tag=流量面板, img-url=https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Speedtest.png, enabled=true
